body {
    margin: 0px 200px 40px 200px;
    background-color: #4912f6;
    font-family: Arial, Helvetica, sans-serif;
}

.section-1 {

    color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a:visited {
    color: white;
}

a:hover {
    color: #999999;
}

.logo {
    display: flex;
    flex-grow: 3;
    width: 110px;
    justify-content: left;

}



.sign-in {
    flex-grow: 0.1;
    margin-top: 5px;

}

.try-for-free {
    flex-grow: 1;
}

.section-2 {
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    flex: 0 1 400px;
    flex-grow: 3;





}



.session {
    
    margin-top: 150px;

}

input[type='button'] {
    text-align: center;
    padding: 9px 20px;
    font-weight: bold;
    border: 0px;
    border-radius: 20px;
    background-color: orange;
    color: white;
    flex-grow: 1;
}

input[type='button1'] {
    display: flex;
    text-align: center;
    padding: 20px 13px 20px 13px;
    font-weight: bold;
    border: 0px;
    border-radius: 20px;
    background-color: orange;
    color: white;
    margin-top: 80px;
    flex-grow: 1;
    margin-left: -400px;
}

.picture-1 {
    display: flex;
    flex-grow: 3;

    
    

}

.section-3 {
    flex-grow: 5px;
    margin-top: 155px;
    display: flex;
    flex-direction: column;

}

.section-4 {
    justify-content: center;
    flex-grow: 1;
    margin-top: 150px;
    display: flex;
    flex-direction: row;

}

.section-5 {
    justify-content: center;
    flex-grow: 1;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}

.picture-2 {
    display: flex;
    flex-basis: auto;
    margin-right: 110px;
    width: 350px;
    height: 150px;
}

.picture-3 {
    display: flex;
    flex-basis: auto;
    margin-right: 190px;
    width: 250px;
    height: 150px;
}

p {
    flex-basis: auto;
}

p1 {
    font-size: 20px;
    font-weight: lighter;
}

p2 {
    font-size: 30px;
    font-weight: bold;
    flex-basis: 300px;
}

p3 {
    margin-left: 40px;
    font-size: 20px;
    flex-direction: row;
    color: white;
    text-align: center;
}

p4 {
    font-weight: bold;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: row;

}

p5 {

    justify-content: center;
    display: flex;
    flex: 0 1 400px;
    color: white;
    max-width: 400px;
    margin-right: 40px;
}

p6 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    color: white;
}

p7 {
    flex: 0 1 400px;
    max-width: 400px;
    display: flex;
    flex-basis: auto;
    color: white;
}